@model PagedList.IPagedList<PlayerInformationSystem.Models.Club>

@using PagedList.Mvc;

@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@
    @*<div class="form-group">
        @Html.ActionLink("Create New Club", "Create", null, new { @class = "btn btn-sm btn-success", type = "button", style = "height: 33px;" })
        @Html.LabelFor(model => model.First().ClubName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.First().ClubName, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-2">
            @Html.ActionLink("Create New Club", "Create", null, new { @class = "btn btn-sm btn-success", type = "button", style = "height: 33px;" })
        </div>
        <div class="col-md-3">
            @Html.TextBox("search", null, new { @class = "form-control", @id = "search", @placeholder = "Please type here to filter" })
        </div>
    </div>

    <br />
    <br />

    <table class="table">
        <tr>
            <th> @Html.ActionLink("Club Name", "Index", new { sortOrder = ViewBag.ClubName }) </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClubName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClubId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ClubId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClubId })
                </td>
            </tr>
        }

    </table>
}

<script src="~/Scripts/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $("#search").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetClubs", "Clubs")',
                dataType: "json",
                data: { search: $("#search").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Name };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        }
    });

</script>

<!--Code to show curent page and page number-->
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))