@model PagedList.IPagedList<PlayerInformationSystem.Models.User>

@using PagedList.Mvc;

@{
    ViewBag.Title = "List Users";
}

<h2>List Users</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-2">
            @Html.ActionLink("Create New User", "Create", null, new { @class = "btn btn-sm btn-success", type = "button" })
        </div>

        <div class="col-md-3">
            @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "Please type here to filter" })
        </div>

        <div class="col-md-2">
            <input type="submit" value="Search" class="btn btn-sm btn-info" style="width:auto;height:33px" />
        </div>
    </div>
}

<br />
<br />
<table class="table">
    <tr>
        <th> @Html.ActionLink("Username", "Index", new { sortOrder = ViewBag.Username }) </th>
        <th> @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.Email }) </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "btn btn-sm btn-primary", type = "button" })
                @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "btn btn-sm btn-default", type = "button" })
                @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class = "btn btn-sm btn-danger", type = "button" })
            </td>
        </tr>
    }

</table>

<br />
<!--Code to show curent page and page number-->
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
