@model PagedList.IPagedList<PlayerInformationSystem.Models.Player>

@using PagedList.Mvc;
@{
    ViewBag.Title = "List Players";
}

<h2>List Players</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <div class="col-md-2">
            <input type="text" onfocus="(this.type='date')" name="joinDate" size="5" class="form-control" placeholder="Join Date">
        </div>

        <div class="col-md-2">
            <input type="text" onfocus="(this.type='date')" name="expireDate" size="5" class="form-control" placeholder="Expire Date">
        </div>

        <div class="col-md-3">
            @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "Please type here to filter" })
        </div>

        <div class="col-md-1">
            <input type="submit" value="Search" class="btn btn-sm btn-info" style="width:auto;height:33px" />
        </div>

        <div class="col-md-2">
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Create New Player", "Create", null, new { @class = "btn btn-sm btn-success", type = "button", style = "height: 33px;" })
            }
        </div>
    </div>

    <br />
    <br />
    <table class="table">
        <tr>
            <th> @Html.ActionLink("Player Number", "Index", new { sortOrder = ViewBag.PlayerNumber }) </th>
            <th> @Html.ActionLink("Player Name", "Index", new { sortOrder = ViewBag.PlayerName }) </th>
            <th> @Html.ActionLink("Age", "Index", new { sortOrder = ViewBag.Age }) </th>
            <th> @Html.ActionLink("Join Date", "Index", new { sortOrder = ViewBag.HireDate }) </th>
            <th> @Html.ActionLink("Expire Date", "Index", new { sortOrder = ViewBag.ExpiredDate }) </th>
            <th> @Html.ActionLink("Club Name", "Index", new { sortOrder = ViewBag.ClubName }) </th>
            <th> @Html.ActionLink("Position Name", "Index", new { sortOrder = ViewBag.PositionName }) </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Convert.ToDateTime(item.HireDate).ToString("dd/MM/yyyy")
                </td>
                @if (item.ExpiredDate > DateTime.Today.AddMonths(6))
                {
                    <td>
                        @Convert.ToDateTime(item.ExpiredDate).ToString("dd/MM/yyyy")
                    </td>
                }
                else if (item.ExpiredDate < DateTime.Today)
                {
                    <td style="background:red">
                        @Convert.ToDateTime(item.ExpiredDate).ToString("dd/MM/yyyy")
                    </td>
                }
                else
                {
                    <td style="background:yellow">
                        @Convert.ToDateTime(item.ExpiredDate).ToString("dd/MM/yyyy")
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Club.ClubName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position.Name)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="form-group">
                            @Html.ActionLink("Edit", "Edit", new { id = item.PlayerId }, new { @class = "btn btn-sm btn-default" })
                            @Html.ActionLink("Details", "Details", new { id = item.PlayerId }, new { @class = "btn btn-sm btn-info" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.PlayerId }, new { @class = "btn btn-sm btn-danger" })
                        </div>
                    }
                    @if (User.IsInRole("Player"))
                    {
                        <div class="form-group">
                            @Html.ActionLink("Details", "Details", new { id = item.PlayerId }, new { @class = "btn btn-sm btn-default" })
                        </div>
                    }
                    @if (User.IsInRole("Committee") || User.IsInRole("Releaser"))
                    {
                        <div class="form-group">
                            @Html.ActionLink("Approve", "Approve", new { id = item.PlayerId }, new { @class = "btn btn-sm btn-success" })
                            @Html.ActionLink("Reject", "Reject", new { id = item.PlayerId }, new { @class = "btn btn-sm btn-danger" })
                        </div>
                    }
                </td>
            </tr>
        }
    </table>
}

<!--Code to show curent page and page number-->
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

